h{
    font-family: Helvetica;color: red  }
  p{color: white }
#body{
    background-image:url('http://4.bp.blogspot.com/-9YLLXboMOY8/ULYblJySkpI/AAAAAAAAEVA/7mQIS59JtxA/s1600/Alfa+Romeo+Logo+4.jpeg');
background-repeat: no-repeat; 
   background-attachment: fixed; 
   background-position: center; 
   
	}
  #form {
   background-image:url('http://www.omniauto.it/awpImages/photogallery/2015/22601/photos1280/alfa-romeo-storia-logo-1907-2016__18.jpg'); 
   background-repeat: no-repeat; 
   background-attachment: fixed; 
   background-position: center; 
   opacity: 0.5;
  }
  #form.inv {
  background-image: url('http://cdn.johnywheels.com/2016/03/02/alfaromeologoblackandwhite-l-ab8414f94741721d.jpg');  
  padding: 20px; 
  font-size: 25px; 
  text-align: center; 
  opacity:0.5; 
  }
  #form.dev {
      background-image: url('https://i.pinimg.com/736x/5e/22/b6/5e22b67da60525879ea09b0960e12a2f.jpg');
   opacity:1
  }
  #form.b {
    background-color: #fff;
    margin-top: 40px; width: 100%; opacity:1
}
 #submit{
      font-size: 25px;
      color: #80000;
      background-color:#fff;
      padding: 20px 20px;
      width: 50% 
  }
 